@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@import url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSans.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}
.recharts-surface:focus {
  outline: none !important;
}
.recharts-surface:focus:not(:focus-visible) {
  outline: none !important;
}

::-webkit-scrollbar {
  display: none;
}

/* 파이어폭스 */
* {
  scrollbar-width: none; /* Firefox 전용 */
}

/* IE, Edge (구버전) */
* {
  -ms-overflow-style: none; /* IE, Edge */
}
body {
  cursor: none; /* 기본 마우스 포인터 숨기기 */
}

button, a, .clickable {
  cursor: none !important;
}

.custom-cursor {
  /* 기존 CustomCursor.jsx의 스타일을 여기에 통합 */
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgba(220, 220, 220, 0.6);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: width 0.3s, height 0.3s, background-color 0.3s;
}